.aws-sam/build/template.yaml
.aws-sam/build/AuthFunction/authorizer.js
.aws-sam/build/AuthFunction/index.js
.aws-sam/build/AuthFunction/main.js
.aws-sam/build/AuthFunction/package.json
.aws-sam/build/AuthFunction/policy.js
.aws-sam/build/AuthFunction/adapters/eventparser.js
.aws-sam/build/AuthFunction/node_modules/@hapi/address/LICENSE.md
.aws-sam/build/AuthFunction/node_modules/@hapi/address/package.json
.aws-sam/build/AuthFunction/node_modules/@hapi/address/README.md
.aws-sam/build/AuthFunction/node_modules/@hapi/address/lib/decode.js
.aws-sam/build/AuthFunction/node_modules/@hapi/address/lib/domain.js
.aws-sam/build/AuthFunction/node_modules/@hapi/address/lib/email.js
.aws-sam/build/AuthFunction/node_modules/@hapi/address/lib/errors.js
.aws-sam/build/AuthFunction/node_modules/@hapi/address/lib/index.d.ts
.aws-sam/build/AuthFunction/node_modules/@hapi/address/lib/index.js
.aws-sam/build/AuthFunction/node_modules/@hapi/address/lib/ip.js
.aws-sam/build/AuthFunction/node_modules/@hapi/address/lib/tlds.js
.aws-sam/build/AuthFunction/node_modules/@hapi/address/lib/uri.js
.aws-sam/build/AuthFunction/node_modules/@hapi/formula/CHANGELOG.md
.aws-sam/build/AuthFunction/node_modules/@hapi/formula/LICENSE.md
.aws-sam/build/AuthFunction/node_modules/@hapi/formula/package.json
.aws-sam/build/AuthFunction/node_modules/@hapi/formula/README.md
.aws-sam/build/AuthFunction/node_modules/@hapi/formula/lib/index.d.ts
.aws-sam/build/AuthFunction/node_modules/@hapi/formula/lib/index.js
.aws-sam/build/AuthFunction/node_modules/@hapi/hoek/LICENSE.md
.aws-sam/build/AuthFunction/node_modules/@hapi/hoek/package.json
.aws-sam/build/AuthFunction/node_modules/@hapi/hoek/README.md
.aws-sam/build/AuthFunction/node_modules/@hapi/hoek/lib/applyToDefaults.js
.aws-sam/build/AuthFunction/node_modules/@hapi/hoek/lib/assert.js
.aws-sam/build/AuthFunction/node_modules/@hapi/hoek/lib/bench.js
.aws-sam/build/AuthFunction/node_modules/@hapi/hoek/lib/block.js
.aws-sam/build/AuthFunction/node_modules/@hapi/hoek/lib/clone.js
.aws-sam/build/AuthFunction/node_modules/@hapi/hoek/lib/contain.js
.aws-sam/build/AuthFunction/node_modules/@hapi/hoek/lib/deepEqual.js
.aws-sam/build/AuthFunction/node_modules/@hapi/hoek/lib/error.js
.aws-sam/build/AuthFunction/node_modules/@hapi/hoek/lib/escapeHeaderAttribute.js
.aws-sam/build/AuthFunction/node_modules/@hapi/hoek/lib/escapeHtml.js
.aws-sam/build/AuthFunction/node_modules/@hapi/hoek/lib/escapeJson.js
.aws-sam/build/AuthFunction/node_modules/@hapi/hoek/lib/escapeRegex.js
.aws-sam/build/AuthFunction/node_modules/@hapi/hoek/lib/flatten.js
.aws-sam/build/AuthFunction/node_modules/@hapi/hoek/lib/ignore.js
.aws-sam/build/AuthFunction/node_modules/@hapi/hoek/lib/index.d.ts
.aws-sam/build/AuthFunction/node_modules/@hapi/hoek/lib/index.js
.aws-sam/build/AuthFunction/node_modules/@hapi/hoek/lib/intersect.js
.aws-sam/build/AuthFunction/node_modules/@hapi/hoek/lib/isPromise.js
.aws-sam/build/AuthFunction/node_modules/@hapi/hoek/lib/merge.js
.aws-sam/build/AuthFunction/node_modules/@hapi/hoek/lib/once.js
.aws-sam/build/AuthFunction/node_modules/@hapi/hoek/lib/reach.js
.aws-sam/build/AuthFunction/node_modules/@hapi/hoek/lib/reachTemplate.js
.aws-sam/build/AuthFunction/node_modules/@hapi/hoek/lib/stringify.js
.aws-sam/build/AuthFunction/node_modules/@hapi/hoek/lib/types.js
.aws-sam/build/AuthFunction/node_modules/@hapi/hoek/lib/utils.js
.aws-sam/build/AuthFunction/node_modules/@hapi/hoek/lib/wait.js
.aws-sam/build/AuthFunction/node_modules/@hapi/joi/LICENSE.md
.aws-sam/build/AuthFunction/node_modules/@hapi/joi/package.json
.aws-sam/build/AuthFunction/node_modules/@hapi/joi/README.md
.aws-sam/build/AuthFunction/node_modules/@hapi/joi/dist/joi-browser.min.js
.aws-sam/build/AuthFunction/node_modules/@hapi/joi/lib/annotate.js
.aws-sam/build/AuthFunction/node_modules/@hapi/joi/lib/base.js
.aws-sam/build/AuthFunction/node_modules/@hapi/joi/lib/cache.js
.aws-sam/build/AuthFunction/node_modules/@hapi/joi/lib/common.js
.aws-sam/build/AuthFunction/node_modules/@hapi/joi/lib/compile.js
.aws-sam/build/AuthFunction/node_modules/@hapi/joi/lib/errors.js
.aws-sam/build/AuthFunction/node_modules/@hapi/joi/lib/extend.js
.aws-sam/build/AuthFunction/node_modules/@hapi/joi/lib/index.js
.aws-sam/build/AuthFunction/node_modules/@hapi/joi/lib/manifest.js
.aws-sam/build/AuthFunction/node_modules/@hapi/joi/lib/messages.js
.aws-sam/build/AuthFunction/node_modules/@hapi/joi/lib/modify.js
.aws-sam/build/AuthFunction/node_modules/@hapi/joi/lib/ref.js
.aws-sam/build/AuthFunction/node_modules/@hapi/joi/lib/schemas.js
.aws-sam/build/AuthFunction/node_modules/@hapi/joi/lib/state.js
.aws-sam/build/AuthFunction/node_modules/@hapi/joi/lib/template.js
.aws-sam/build/AuthFunction/node_modules/@hapi/joi/lib/trace.js
.aws-sam/build/AuthFunction/node_modules/@hapi/joi/lib/validator.js
.aws-sam/build/AuthFunction/node_modules/@hapi/joi/lib/values.js
.aws-sam/build/AuthFunction/node_modules/@hapi/joi/lib/types/alternatives.js
.aws-sam/build/AuthFunction/node_modules/@hapi/joi/lib/types/any.js
.aws-sam/build/AuthFunction/node_modules/@hapi/joi/lib/types/array.js
.aws-sam/build/AuthFunction/node_modules/@hapi/joi/lib/types/binary.js
.aws-sam/build/AuthFunction/node_modules/@hapi/joi/lib/types/boolean.js
.aws-sam/build/AuthFunction/node_modules/@hapi/joi/lib/types/date.js
.aws-sam/build/AuthFunction/node_modules/@hapi/joi/lib/types/function.js
.aws-sam/build/AuthFunction/node_modules/@hapi/joi/lib/types/keys.js
.aws-sam/build/AuthFunction/node_modules/@hapi/joi/lib/types/link.js
.aws-sam/build/AuthFunction/node_modules/@hapi/joi/lib/types/number.js
.aws-sam/build/AuthFunction/node_modules/@hapi/joi/lib/types/object.js
.aws-sam/build/AuthFunction/node_modules/@hapi/joi/lib/types/string.js
.aws-sam/build/AuthFunction/node_modules/@hapi/joi/lib/types/symbol.js
.aws-sam/build/AuthFunction/node_modules/@hapi/pinpoint/LICENSE.md
.aws-sam/build/AuthFunction/node_modules/@hapi/pinpoint/package.json
.aws-sam/build/AuthFunction/node_modules/@hapi/pinpoint/README.md
.aws-sam/build/AuthFunction/node_modules/@hapi/pinpoint/lib/index.d.ts
.aws-sam/build/AuthFunction/node_modules/@hapi/pinpoint/lib/index.js
.aws-sam/build/AuthFunction/node_modules/@hapi/topo/LICENSE.md
.aws-sam/build/AuthFunction/node_modules/@hapi/topo/package.json
.aws-sam/build/AuthFunction/node_modules/@hapi/topo/README.md
.aws-sam/build/AuthFunction/node_modules/@hapi/topo/lib/index.d.ts
.aws-sam/build/AuthFunction/node_modules/@hapi/topo/lib/index.js
.aws-sam/build/AuthFunction/test/authorizer.test.js
.aws-sam/build/AuthFunction/test/main.test.js
.aws-sam/build/AuthFunction/test/policy.test.js
.aws-sam/build/AuthFunction/test/adapters/eventparser.test.js
.aws-sam/build/TrendMicroTestFunction/app.js
.aws-sam/build/TrendMicroTestFunction/index.js
.aws-sam/build/TrendMicroTestFunction/main.js
.aws-sam/build/TrendMicroTestFunction/package.json
.aws-sam/build/TrendMicroTestFunction/__mocks__/connection-service.js
.aws-sam/build/TrendMicroTestFunction/adapters/connection-service.js
.aws-sam/build/TrendMicroTestFunction/test/end-to-end.test.js
.aws-sam/build/TrendMicroTestFunction/test/main.test.js
